{% load static %}
<!DOCTYPE html>
<html lang="ru" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Движ по недвижке</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/mini-logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/mini-logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/mini-logo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="{% static 'libs/bulma/css/bulma.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <style>
        @font-face {

        }
        .original-background {
            background-color: #bc602d!important;
            color: white;
        }
        .hero {
            background-image: url("{% static 'images/forums/dvizh-nedvizh/proFinancy.jpg' %}");
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .hero p.has-text-white-bis { font-size: 35pt !important; font-family: "Montserrat", sans-serif!important }
        .hero h1 { font-size: 35pt; text-align: end; font-style: italic;}
        .hero p { font-size: 18pt; }
        #where .is-one-quarter-tablet {
            background-image: url("{% static 'images/forums/dvizh-nedvizh/event_22012025.jpg' %}");
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
        }
        #speakers .avatar, #offers .image {
            width: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
        }
        #where ul { --icon-size: .8em; --gutter: .5em; padding: 0 0 0 var(--icon-size); }
        #where ul li, #speakers ul li { padding-left: var(--gutter); }
        #where li::marker { content: var(--icon); /* FontAwesome Unicode */ font-family: FontAwesome; }
        #general-partner .box, #official-partner .box, #partners .box, #info-partners .box, #speakers .avatar { background-size: cover; }
        .carousel-item:not(.active) { display: none; }
        footer .box { max-width: 50%; margin: 0 auto; }
        @media screen and (max-width: 420px){
            .adaprive-h2 {
                font-size: 2rem !important;
            }
        }
    </style>
</head>
<body>
<section class="hero is-info">
    <div class="container is-fluid">
        <div class="columns is-justify-content-end">
            <div class="column is-one-quarter-tablet has-background-white-bis">
                <img src="{% static 'images/logos/logo_1983_obrez.jpg' %}" alt="Логотип" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="hero-body" style="min-height: 500px;">
        <div class="container">
            <!-- <p class="has-text-white-bis has-text-weight-semibold">Бизнес-завтрак &laquo;PRO ФИНАНСЫ&raquo;</p>
            <h1 class="is-uppercase has-text-white-bis has-text-weight-semibold mb-5">&laquo;Это по любви&raquo;</h1> -->
            <!-- <div class="is-display-inline-block has-text-weight-semibold p-4 content is-size-5 mb-0" style="color: white; width: 100%;">
                <p style="text-align: end;">Для тех, кто ищет не просто дом, а место для сердца</p>
                <ul style="list-style: outside '&#10004';">
                    <li>изменить свое денежное мышление</li>
                    <li>развить сильный личный бренд</li>
                    <li>вырасти в доходе в х10 раз</li>
                </ul>
            </div> -->
            <div class="columns justify-content-center mt-6" style="margin-top: 12rem!important;">
                <div class="column has-text-centered p-0">
                    <a href="#register" class="button is-danger is-large is-display-inline-block is-rounded original-background">Зарегистрироваться<br>на бизнес-завтрак</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="where" class="section">
    <div class="container">
        <div class="columns is-gap-6">
            <div class="column is-one-quarter-tablet"></div>
            <div class="column">
                <ul class="is-size-4 my-6">
                    <li class="mb-3" style="--icon: '\f073';"><span class="has-text-weight-semibold">Дата:</span> 13 февраля 2025г.</li>
                    <li class="mb-3" style="--icon: '\f017';"><span class="has-text-weight-semibold">Время:</span> 10:00 - 13:00</li>
                    <li class="mb-3" style="--icon: '\f3c5';"><span class="has-text-weight-semibold">Место проведения:</span><br><span class="fs-3">EVENT-пространство «БЛИКИ»,</span><br><span class="is-size-4">Ул. Революции 1905 года, д. 31ю</span></li>
                    <li style="--icon: '\e533';"><span class="has-text-weight-semibold">Количество участников:</span><br>30 человек</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="speakers" class="section">
    <div class="container">
        <h2 class="is-uppercase has-text-weight-semibold has-text-centered is-size-2 mb-6">Спикеры форума</h2>
        <div class="columns">
            <div class="column is-display-flex is-flex-direction-column content">
                <figure class="avatar image is-1by1 mx-auto mb-5" style="background-image: url('{% static 'images/forums/dvizh-nedvizh/speakers/korotova29102024.png' %}'); background-size: contain;"></figure>
                <p class="has-text-weight-semibold has-text-centered is-size-4 mb-5">Марина Коротова</p>
                <ul class="mb-3">
                    <li>Собственник АН «1983»</li>
                    <li>Практикующий Топ-менеджер с 2010 года</li>
                    <li>Сертифицированный бизнес-коуч, бизнес-тренер по международным стандартам ICU</li>
                    <!-- <li>Основатель кадрового агентства и корпоративного университета для малого и среднего бизнеса «Level UP»</li>
                    <li>Эксперт по развитию потенциала бизнеса и личности</li> -->
                    <!-- <li>Победитель в номинации «Человек мира. Профессионал, эксперт, наставник, международное признание в области уникальных авторских программ с доказанной эффективностью» в церемонии вручения премии BEAUTYVISION Award by The ICONIC в Дубае в 2024 году</li> -->
                </ul>
                <p class="is-size-5 has-text-weight-semibold has-text-centered mt-auto mb-5">Тема: &laquo;Финансовая грамотность&raquo;</p>
            </div>
            <div class="column is-display-flex is-flex-direction-column content">
                <figure class="avatar image is-1by1 mx-auto mb-5" style="background-image: url('{% static 'images/forums/dvizh-nedvizh/speakers/kucigin_22012025.jpg' %}')"></figure>
                <p class="has-text-weight-semibold has-text-centered is-size-4 mb-5">Евгений Куницын</p>
                <ul class="mb-3">
                    <li>Независимый финансовый консультант</li>
                    <li>Спикер</li>
                    <li>Эксперт по инвестициям в доходную недвижимость</li>
                    <li>Собственник инвестиционной компании &laquo;Key.finance&raquo;</li>
                </ul>
                <p class="is-size-5 has-text-weight-semibold has-text-centered mt-auto">Тема: &laquo;Альтернативные источники дохода для предпринимателей&raquo;</p>
            </div>
            
            <div class="column is-display-flex is-flex-direction-column content">
                <figure class="avatar image is-1by1 mx-auto mb-5" style="background-image: url('{% static 'images/forums/dvizh-nedvizh/speakers/dorovskaiya_22012025.jpg' %}');"></figure>
                <p class="has-text-weight-semibold has-text-centered is-size-4 mb-5">Анастасия Доровская</p>
                <ul class="mb-3">
                    <li>Психолог</li>
					<li>Бизнес-стратег</li>
					<li>Руководитель психологического центра &laquo;ГРАНИ&raquo;</li>
                    <!--<li>Руководитель воронежского филиала школы ABADA-Capoeira</li>
                    <li>Практикующий кроссфит-атлет</li>
                    <li>Наставник Молодежного Бизнеса России</li>-->
                </ul>
                <p class="is-size-5 has-text-weight-semibold has-text-centered mt-auto mb-5">Тема: &laquo;Как личная стратегия руководителя влияет на рост дохода в компании&raquo;</p>
            </div>
        </div>
    </div>
</section>
<section id="program" class="section">
    <div class="container content">
        <h2 class="is-uppercase has-text-weight-semibold has-text-centered is-size-2 mb-6">Программа форума</h2>
        <p class="is-size-5"><span class="has-text-weight-semibold">10:00 - 10:15</span> - Сбор гостей</p>
        <p class="is-size-5"><span class="has-text-weight-semibold">10:15 - 11:00</span> - Выступление спикеров</p>
        <p class="is-size-5"><span class="has-text-weight-semibold">11:00 - 11:30</span> - Фуршет, нетворкинг</p>
        <p class="is-size-5"><span class="has-text-weight-semibold">11:30 - 12:30</span> - Выступление спикеров</p>
        <p class="is-size-5"><span class="has-text-weight-semibold">12:30 - 13:00</span> - Нетворкинг, презентации от Партнеров</p>
        <!-- <p class="is-size-5">В течение всего форума:</p>
        <ul class="is-size-5">
            <li>Консультации по недвижимости: новостройки (Воронеж, Москва, Калининград, Турция, Северный Кипр), вторичка, ИЖС;</li>
            <li>Нетворкинг.</li>
        </ul> -->
    </div>
</section>
<!-- <section id="offers" class="section">
    <div class="container has-text-centered">
        <h2 class="is-uppercase has-text-weight-semibold is-size-2 mb-6 adaprive-h2">А также презентация от застройщика нового эксклюзивного жилого комплекса, спецпредложения на покупку квартир для участников форума:</h2>
        <div class="columns">
            <div class="column">
                <figure class="image is-1by1 mx-auto mb-4" style="background-image: url('{% static 'images/forums/dvizh-nedvizh/icons/sale.jpg' %}');"></figure>
                <p class="is-uppercase has-text-weight-semibold is-size-5">Спеццены на ряд квартир</p>
            </div>
            <div class="column">
                <figure class="image is-1by1 mx-auto mb-4" style="background-image: url('{% static 'images/forums/dvizh-nedvizh/icons/discount.jpg' %}');"></figure>
                <p class="is-uppercase has-text-weight-semibold is-size-5">Скидки при покупке квартиры до 750 тыс. руб.</p>
            </div>
            <div class="column">
                <figure class="image is-1by1 mx-auto mb-4" style="background-image: url('{% static 'images/forums/dvizh-nedvizh/icons/gift.jpg' %}');"></figure>
                <p class="is-uppercase has-text-weight-semibold is-size-5">Подарки при покупке квартиры</p>
            </div>
            <div class="column">
                <figure class="image is-1by1 mx-auto mb-4" style="background-image: url('{% static 'images/forums/dvizh-nedvizh/icons/mortgage.jpg' %}');"></figure>
                <p class="is-uppercase has-text-weight-semibold is-size-5">Выгодные ипотечные предложения</p>
            </div>
        </div>
    </div>
</section> -->
<section id="register" class="section">
    <div class="container">
        <p class="is-size-1 is-uppercase has-text-centered has-text-danger is-display-none">Регистрация окончена</p>
        <div class="columns is-justify-content-center">
            <div class="column is-half-tablet">
                <h2 class="is-size-2 is-uppercase has-text-weight-semibold has-text-centered mb-6">Регистрация</h2>
                <form action="{% url 'main:send-event-form' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="forum-name" value="Движ по недвижке">
                    <input type="hidden" name="type" value="client">
                    <div class="field">
                        <label class="label is-large" for="name">ФИО</label>
                        <div class="control">
                            <input type="text" class="input is-medium" name="name" id="name" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label is-large" for="activity">Сфера деятельности</label>
                        <div class="control">
                            <input type="text" class="input is-medium" name="activity" id="activity" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label is-large" for="phone">Телефон</label>
                        <div class="control">
                            <input type="text" name="phone" class="input is-medium phone-mask" id="phone" placeholder="+7 (999) 999-99-99" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox is-large">
                                <input type="checkbox" id="check" required>
                                Я ознакомлен с <a href="{% url 'main:policy-page' %}">политикой конфиденциальности</a> и <a href="{% url 'main:privacy-page' %}">соглашением на обработку персональных данных</a>
                            </label>
                        </div>
                    </div>
                    <!-- <div class="field is-grouped is-justify-content-center">
                        <div class="control">
                            <button type="submit" class="button is-danger is-medium">Зарегистрироваться</button>
                        </div>
                        <div class="control">
                            <button type="submit" onclick="document.querySelector(`input[name='type']`).value = 'partner'; return true;" class="button is-link is-light is-medium">Стать партнером</button>
                        </div>
                    </div> -->
                    <div class="grid">
                        <div class="cell is-col-span-2" style="text-align: end;">
                            <button type="submit" class="button is-danger is-medium original-background">Зарегистрироваться</button>
                        </div>
                        <div class="cell is-col-span-2">
                            <button type="submit" onclick="document.querySelector(`input[name='type']`).value = 'partner'; return true;" class="button is-link is-light is-medium">Стать партнером</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="columns is-align-items-center my-6">
            <div class="column">
                <img src="{% static 'images/logos/logo_1983.jpg' %}" alt="Логотип">
            </div>
            <div class="column has-text-right">
                <a href="tel:+74732023233" class="is-size-1 has-text-weight-semibold is-color-text">+7 (473) 202-32-33</a>
                <p class="is-size-1 has-text-weight-semibold">г. Воронеж, ул. Беговая, 63</p>
            </div>
        </div>
    </div>
    <div class="has-background-warning py-6 original-background">
        <div class="container">
            <div class="columns is-align-items-center is-justify-content-center">
                <div class="column is-one-quarter-tablet">
                    <a class="box" href="https://t.me/novstroy36">
                        <img src="{% static 'images/forums/dvizh-nedvizh/footer/qr-tg.jpg' %}" alt="QR Telegram" class="img-fluid">
                    </a>
                </div>
                <div class="column has-text-centered">
                    <img src="{% static 'images/forums/dvizh-nedvizh/footer/house.png' %}" alt="QR Telegram" class="img-fluid d-block mx-auto">
                </div>
                <div class="column is-one-quarter-tablet">
                    <a class="box" href="https://vk.com/novstroy36">
                        <img src="{% static 'images/forums/dvizh-nedvizh/footer/qr-vk.jpg' %}" alt="QR VK" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'libs/jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'libs/jquery.mask/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/phone.mask.js' %}"></script>
<script>
    $(function () {
        // управление слайдером
        $(".carousel .next").click(function() {
            let carousel = $(this).closest('.carousel'), activeSlide = carousel.find('.carousel-item.active');
            if (carousel.find('.carousel-item').length > 1) {
                activeSlide.toggleClass('active');
                if (activeSlide.next().length > 0) activeSlide.next().toggleClass('active');
                else activeSlide.siblings('.carousel-item').first().toggleClass('active');
            }
        });
        $(".carousel .prev").click(function() {
            let carousel = $(this).closest('.carousel'), activeSlide = carousel.find('.carousel-item.active');
            if (carousel.find('.carousel-item').length > 1) {
                activeSlide.toggleClass('active');
                if (activeSlide.prev().length > 0) activeSlide.prev().toggleClass('active');
                else activeSlide.siblings('.carousel-item').first().toggleClass('active');
            }
        });
    });
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(68282848, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/68282848" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- VK counter -->
<script type="text/javascript">
    !function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src='https://vk.com/js/api/openapi.js?169',t.onload=function(){VK.Retargeting.Init("VK-RTRG-1850141-bBUCr"),VK.Retargeting.Hit()},document.head.appendChild(t)}();
</script>
<noscript><img src="https://vk.com/rtrg?p=VK-RTRG-1850141-bBUCr" style="position:fixed; left:-999px;" alt=""/></noscript>
</body>
</html>